<!-- TILES -->
<div class="grid" id ="projectGrid">
	<% data.forEach(function(proj) { %>
	<div class="tile" onclick="showInfo('<%= proj.tag %>')">
		<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="11000">

		    <!-- Wrapper for slides -->
		    <div class="carousel-inner" role="listbox">
		    	<div class="item active">
		        	<img class="tileImg" src="<%= proj.tileImg[0] %>">
		      	</div>   

		    <% for (var i = 1; i < proj.tileImg.length; i++) {%>
		    	<div class="item">
		        	<img class="tileImg" src="<%= proj.tileImg[i] %>">
		      	</div>
		    <%}%>
			</div>
		</div>
		<div class="projBlurbTitle">
			<%= proj.projName %>
		</div>
		<div class="projBlurbType">
			<%= proj.projType %>
		</div>

	</div>
	<% }); %>
</div>

<!-- INFO -->
<% data.forEach(function(proj) {%>
<div class="projInfo" id="<%= proj.tag %>" onclick="hideInfo('<%= proj.tag %>')">
	<%= proj.projName %>
</div>
<% }); %>